{{!-- Tela de cadastro --}}
<div class="container">
    <div class="content cad">
        <h1>Faça seu cadastro</h1>
        <form action="/admin/cadastro/add" method="post">
            <label for="name">Nome</label>
            <input type="text" placeholder="nome" name="name">

            <label for="email">E-mail</label>
            <input type="text" placeholder="email" name="email">

            <label for="senha">Senha</label>
            <input type="password" placeholder="senha" name="password">
        
            <div class="btnCad">
                <button type="submit" class="btn">Cadastrar</button>
            </div>
        </form>
    </div>
</div>