<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Página inicial</title>
   <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>
   {{>header}}
   <div class="container">
      <div class="container-welcome">
         <h1>Seja bem vindo!</h1>
      </div>
      <div class="filter">
         <ul>
            <li>filter</li>
            <li>filter</li>
            <li>filter</li>
            <li>filter</li>
         </ul>
      </div>
      <div class="content-main">

      </div>
   </div>

   {{>perfil}}

   <script src="/js/code.js"></script>
</body>
</html>