<header class="headMenu">
    <nav>
        <ul>
            <a href="admin/home">
                <li>Home</li>
            </a>
            <a href="#">
                <li>Notas</li>
            </a>
            <a href="#">
                <li>Favoritos</li>
            </a>
            <a href="#">
                <li>Ajuda</li>
            </a>
        </ul>
    </nav>
    <div class="perfil" onclick="openPerfil()">
        <span class="material-symbols-outlined iconPerfil">
            account_circle
        </span>
    </div>
</header>