<div class="windowUser" id="windowUser">
    <div class="window" id="window">
        <span class="material-symbols-outlined close" id="close">
            close
        </span>
        <div class="windowBody" id="windowBody">
            <div class="imageUser">
                <h1>Imagem do usuário</h1>
                <h2>Nome do usuário</h2>
            </div>
            <div class="listTools">
                <ul>
                    <li>
                        Notas favoritas
                    </li>
                    <li>
                        Notas favoritas
                    </li>
                    <li>
                        Notas favoritas
                    </li>
                    <li>
                        Notas favoritas
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="/js/code.js"></script>